<div class="p-6">
  <h2 class="text-2xl font-bold mb-4 text-center sm:text-left">Panier</h2>

  <div *ngIf="cartItems.length > 0">
    <div *ngFor="let product of cartItems"
      class="flex flex-col sm:flex-row items-center sm:justify-between bg-white p-4 shadow rounded-lg mb-3 gap-3">
      
      <div class="flex flex-col sm:flex-row items-center text-center sm:text-left gap-3">
        
        <img [src]="product.imageUrl" class="w-20 h-20 object-contain sm:w-16 sm:h-16">
        <div>
          <p class="font-semibold">{{ product.title }}</p>
          <p class="text-blue-600 font-bold">${{ product.price }}</p>
          <p class="text-gray-500">Quantité : {{ product.quantity }}</p>
        </div>
      </div>

      <div class="flex items-center gap-2">
        <button (click)="updateQuantity(product.id, product.quantity - 1)"
          class="px-3 py-1 bg-gray-300 text-gray-800 rounded-l">
          -
        </button>
        <span class="px-3">{{ product.quantity }}</span>
        <button (click)="updateQuantity(product.id, product.quantity + 1)"
          class="px-3 py-1 bg-gray-300 text-gray-800 rounded-r">
          +
        </button>
        <button (click)="removeFromCart(product.id)"
          class="px-4 py-2 bg-red-500 text-white rounded-lg">
          Supprimer
        </button>
      </div>
    </div>

    <div class="flex justify-between mt-4 bg-gray-100 p-4 rounded-lg">
      <p class="font-bold">Total:</p>
      <p class="font-semibold text-lg">{{ totalPrice | currency }}</p>
    </div>

    <button (click)="clearCart()" class="mt-4 w-full sm:w-auto px-6 py-2 bg-gray-800 text-white rounded-lg">
      Vider le panier
    </button>
  </div>

  <p *ngIf="cartItems.length === 0" class="text-gray-500 text-center">Votre panier est vide.</p>
</div>
